/*
    CONFIGURAÇÃO
*/
ul,li,ol{
  list-style: none;
}
input,
select,
iframe,
button {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3{
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  transition: all 4.s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #f9014d;
}
.content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto
}

.row {
  float: left;
  width: 100%;
}
.section {
  float: left;
  width: 100%;
  height: 100%;   
}
/*
  CABEÇALHO
*/
#main-header{
  width: 100%;
  background-color: #6959CD;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
#main-header .nav {
  float: right;
}
#main-header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}
/*
  CONTEUDO
*/
.search-box {
  text-align: center;
  color: #fff;
  padding: 50px 0;
  background-image: url('../../img/slides/a.jpg');
  background-size: cover;
  background-position: center;
  animation: slideBg 5s ease-in-out 0.5s;
  animation-iteration-count: infinite;
}
@keyframes slideBg{
  10%{
      background-image: url('../../img/slides/a3.jpg');
      
  }
  100%{
      background-image: url('../../img/slides/a2.jpg');

  }

}
.search-box {
  padding: 40px 0;
}
.search-box .button-section {
  width: 300px;
  height: 40px;
  margin-top: 540px;
  background: #f9014d;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.search-box .button-section:hover{
  background: #e92863
}
.parallax {
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 160px 0px;
  background-image: linear-gradient(to right, rgb(39, 7, 250), rgb(137, 120, 245));
  background-size: cover;
}

.parallax h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.parallax button {
  background: #f9014d;
  font-size: 20px;
  color: #fff;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all .4s ease-in-out;
}

.parallax button:hover {
  background: #e92863;
}
/*
  RODAPÉ
*/


.footer {
  background: #181818;
  float: left;
  width: 100%;
  color: #fff;
  padding: 30px 0;
}

.footer-col {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.footer-col h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


/*sobre empresa*/

.footer-col .links-uteis li {
  color: #fff;
  padding: 10px 0;
}

.footer-col .links-uteis li:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}


/*rede sociais*/

.footer-col-social li {
  padding: 10px 0;
}

.footer-col-social li .fab {
  color: #ccc;
  background: #000;
  font-size: 20px;
  margin-right: 5px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


/*autorais*/

.footer-autorais {
  padding: 20px;
  border-top: 1px solid #fff;
  color: #ccc;
  text-align: center;
}
.footer-autorais p{
  font-size: 10px;
}
.footer-col {
  width: 45%;
}
.footer-col:nth-child(2) {
  width: 30%;
  margin-left: 5%;
  float: right;
}
